* {
    font-family: sans-serif;
}


html {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

#ou {
    font-size: 3em;
    text-align: center;
}

#phrase {
    margin: auto;
    padding: 0px 10px 0px 10px;
}
    
#info {
/*    width: 50%;*/
    margin: auto;
    color: white;
}

#standard {
    display: block;
    font-size: 14px;
    background-color: whitesmoke;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    margin: 20px 10px;
    
}
